/* a, span, em, input */
body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  color: #111;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 99;
}
.header .logo {
  height: 60px;
}
.header .logo a {
  display: block;
  height: 60px;
  padding: 15px 20px;
}
.header .logo a img {
  height: 30px;
}
.header .logo a .logo__img--light {
  display: none;
}
.header .btn--all {
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  position: absolute;
}
.header .btn--all span {
  width: 30px;
  height: 2px;
  background-color: #111;
  position: absolute;
  left: 15px;
}
.header .btn--all span:nth-child(1) {
  top: 19px;
}
.header .btn--all span:nth-child(2) {
  top: 29px;
}
.header .btn--all span:nth-child(3) {
  top: 39px;
}