.visual__list {
  width: 100%;
  height: 100vh;
}
.visual__list li {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}
.visual__list li.visual01 {
  background-image: url("../images/main/visual01.jpg");
}
.visual__list li.visual02 {
  background-image: url("../images/main/visual02.jpg");
}
.visual__list li.visual03 {
  background-image: url("../images/main/visual03.jpg");
}
.visual__list .pagination {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.visual__list .pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: 12px;
  background-color: #fff;
}
.visual__list .pagination .swiper-pagination-bullet-active {
  background-color: rgb(4, 63, 189);
}

.visual__txt {
  position: absolute;
  top: 50%;
  color: #fff;
  z-index: 2;
  padding: 0 20px;
  word-break: keep-all;
  transform: translateY(-50%);
}
.visual__txt h3 {
  font-weight: 700;
  font-size: clamp(24px, 7.5vw, 48px);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.visual__txt br {
  display: none;
}
.visual__txt .word {
  overflow: hidden;
}
.section {
  padding: 50px 20px;
}
.section h2 {
  font-size: clamp(20px, 5vw, 36px);
  margin-bottom: 30px;
  word-break: keep-all;
  line-height: 1.25;
}
.section h2 strong {
  font-weight: 700;
}
.section p {
  font-size: 14px;
}
.section br {
  display: none;
}
.section .btn {
  display: inline-flex;
  padding: 15px 20px;
  border: 1px solid rgb(4, 63, 189);
  border-radius: 5px;
  align-items: center;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(4, 63, 189);
}

.about__img {
  margin-top: 30px;
}
.about__img img {
  width: 100%;
}

.products {
  padding-top: 0;
}
.products-banner a {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: block;
  margin-top: 30px;
}
.products-banner a img {
  width: 100%;
  aspect-ratio: 2/1;
}
.products-banner a .more {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
  font-size: 36px;
}
.products-banner__title {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
}
.products-banner__title h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.products-banner__title p {
  font-size: 20px;
}

@keyframes showTxt {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}